#automaticContent {
    background: url(../image/index_background.jpg) no-repeat;
    background-size: cover;
}

.automatic_left {
    width: 7.71rem;
    height: 100%;
    float: left;
}

.automatic_ultrasonic {
    width: 5.77rem;
    height: 3.43rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, .3);
    margin-top: .45rem;
    margin-left: 1.26rem;
    text-align: center;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.06) 25%, rgba(255, 255, 255, 0.06) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.06) 75%, rgba(255, 255, 255, 0.06) 76%, transparent 77%, transparent),linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.06) 25%, rgba(255, 255, 255, 0.06) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.06) 75%, rgba(255, 255, 255, 0.06) 76%, transparent 77%, transparent);
    background-size: 1rem 1rem;
    position: relative;
}

.automatic_ultrasonic_img_block:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: blips 5s infinite;
    animation-timing-function: linear;
    animation-delay: 1.4s;
}

.automatic_ultrasonic_img_block:after {
    content: ' ';
    display: block;
    /* background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.06) 25%, rgba(255, 255, 255, 0.06) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.06) 75%, rgba(255, 255, 255, 0.06) 76%, transparent 77%, transparent); */
    width: 1px;
    height: 77%;
    position: absolute;
    top: 37px;
    left: 142px;
    animation: radar-beam 5s infinite alternate;
    animation-timing-function: linear;
    transform-origin: bottom right;
    border-radius: 100% 0 0 0;
    background: #000;
}

.automatic_ultrasonic img {
    width: 95%;
    margin-top: 30px;
}

.automatic_line_of_inspection {
    width: 5.77rem;
    height: 1.84rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, .3);
    margin-top: .22rem;
    margin-left: 1.26rem;
    background-image: url(../image/line_of_inspection.png);
    background-size: 33%;
    background-position: 2px -18px;
}


.automatic_right {
    width: 5.69rem;
    height: 100%;
    float: left;
}

.automatic_speedometer {
    width: 3.33rem;
    height: 1.84rem;
    background: rgba(255, 255, 255, .3);
    border-radius: 3.33rem 3.33rem 0 0;
    margin-top: .45rem;
    margin-left: .75rem;
    position: relative;
}

.automatic_scale_list {
    width: 3.03rem;
    height: 1.54rem;
    border-radius: 3.03rem 3.03rem 0 0;
    position: relative;
    top: 10px;
    left: 9px;
}

.automatic_scale_item {
    width: 2px;
    height: 6px;
    background: white;
    position: absolute;
    left: 1.51rem;
    top: 0px;
    -webkit-transform-origin: 0 1.51rem;
    transform-origin: 0 1.51rem;
}

li.automatic_scale_item:nth-child(1) { -webkit-transform: rotate(-90deg); transform: rotate(-90deg);}
li.automatic_scale_item:nth-child(2) { -webkit-transform: rotate(-81deg); transform: rotate(-81deg);}
li.automatic_scale_item:nth-child(3) { -webkit-transform: rotate(-72deg); transform: rotate(-72deg);}
li.automatic_scale_item:nth-child(4) { -webkit-transform: rotate(-63deg); transform: rotate(-63deg);}
li.automatic_scale_item:nth-child(5) { -webkit-transform: rotate(-54deg); transform: rotate(-54deg);}
li.automatic_scale_item:nth-child(6) { -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}
li.automatic_scale_item:nth-child(7) { -webkit-transform: rotate(-36deg); transform: rotate(-36deg); }
li.automatic_scale_item:nth-child(8) { -webkit-transform: rotate(-27deg); transform: rotate(-27deg); }
li.automatic_scale_item:nth-child(9) { -webkit-transform: rotate(-18deg); transform: rotate(-18deg); }
li.automatic_scale_item:nth-child(10) { -webkit-transform: rotate(-9deg); transform: rotate(-9deg); }
li.automatic_scale_item:nth-child(11) { -webkit-transform: rotate(0deg) ; transform: rotate(0deg) ;}
li.automatic_scale_item:nth-child(12) { -webkit-transform: rotate(9deg) ; transform: rotate(9deg) ;}
li.automatic_scale_item:nth-child(13) { -webkit-transform: rotate(18deg); transform: rotate(18deg); }
li.automatic_scale_item:nth-child(14) { -webkit-transform: rotate(27deg); transform: rotate(27deg); }
li.automatic_scale_item:nth-child(15) { -webkit-transform: rotate(36deg); transform: rotate(36deg); }
li.automatic_scale_item:nth-child(16) { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
li.automatic_scale_item:nth-child(17) { -webkit-transform: rotate(54deg); transform: rotate(54deg); }
li.automatic_scale_item:nth-child(18) { -webkit-transform: rotate(63deg); transform: rotate(63deg); }
li.automatic_scale_item:nth-child(19) { -webkit-transform: rotate(72deg); transform: rotate(72deg); }
li.automatic_scale_item:nth-child(20) { -webkit-transform: rotate(81deg); transform: rotate(81deg); }
li.automatic_scale_item:nth-child(21) { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.automatic_speedValue {
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    color: white;
}

.automatic_speedValue .automatic_text {
    font-size: 26px;
    float: left;
}   

.automatic_speedValue .automatic_unit {
    font-size: 20px;
    float: left;
    line-height: 30px;
}

.automatic_power_block {
    width: 3.33rem;
    height: 2.9rem;
    background: rgba(255, 255, 255, .3);
    border-radius: 5px;
    margin-left: .78rem;
    margin-top: .75rem;
}

.automatic_power {
    width: 1.72rem;
    height: 1.72rem;
    background: rgba(255, 255, 255, .3);
    border-radius: 5px;
}

.automatic_power_slider {}