.dis_none {
    display: none;
}

#homeContent {
    width: 100%;
    height: 100%;
    background: url(../image/index_background.jpg) no-repeat;
    background-size: cover;
}

.startContent {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

@media (orientation: landscape) { 
    .startContent {
        width: 100vw;
        height: 100vh;
    }
}
@media (orientation: portrait) {
    .startContent {
        width: 100vh;
        height: 100vw;
    }
}
    
.index_logo {
    float: left;
    width: 56%;
}

.index_logo img {
    width: 100%;
}

.index_option {
    float: right;
    position: relative;
    width: 15%;
    height: 12%;
    top: 30%;
    left: 5%;
}


.manual_mode_btn, .automatic_mode_btn {
    width: 100%;
    height: 100%;
    /* font-size: 0.36rem; */
    /* border-radius: 0.5rem; */
    border: none;
    background: #44cbdb;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    justify-content: center; /* 水平居中对齐 */
}

@media (orientation: landscape) { 
    .manual_mode_btn {
        font-size: 5vh;
        border-radius: 3vw;
    }
}
@media (orientation: portrait) {
    .manual_mode_btn {
        font-size: 5vw;
        border-radius: 3vh;

    }
}

.automatic_mode_btn {
    margin-top: 0.8rem;
}

.version {
    position: fixed;
    bottom: 1vw;
    right: 1vh;
    color: #ccc;
}

@media (orientation: landscape) { 
    .version {
        font-size: 3vh;
    }
}
@media (orientation: portrait) {
    .version {
        font-size: 3vw;
    }
}


#connectModal_block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.connectModal {
    width: 6.8rem;
    height: 3.46rem;
    border-radius: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.connectModal_header {
    height: 0.76rem;
    width: 100%;
    background: #1e2b56;
    text-align: center;
    line-height: 0.76rem;
    border-radius: 10px 10px 0 0;
}

.connectModal_header_title {
    font-size: 0.40rem;
    color: white;
}

.connectModal_content {
    height: 2.7rem;
    width: 100%;
    background: #2d4187;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
}

.connectModal_content_text {
    font-size: 0.65rem;
    color: white;
    display: block;
}

.connectModal_content_btn_block {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.connectModal_content button {
    width: 1.44rem;
    height: 0.72rem;
    font-size: .32rem;
    background: #44cbdb;
    outline: none;
    border-radius: 10px;
    border: none;
    color: white;
}